<div class="container">
  <div class="jumbotron" style="margin-top: 30px;">
    <h1>抽奖签到成功！</h1>
      <p class="lead">
        <span style="color:red;"><%= current_user.auth_profile.try(:nickname) %></span>,
        恭喜你获得了一次<span style="color:red;"><%= @ld.title %></span>抽奖机会。
      </p>
      <p>奖品是：<%= @prize.name %></p>
  </div>
</div>